fastapi==0.103.1
uvicorn==0.23.2
pydantic==1.10.8
sqlalchemy==2.0.21
pandas==2.1.0
numpy>=1.24.3
python-dotenv
matplotlib==3.8.0
gymnasium==0.29.1
stable-baselines3[extras]==2.1.0
python-multipart==0.0.6
psutil==5.9.5
typing-extensions==4.5.0
mysql-connector-python==8.0.33