# docker/requirements_gpu.txt
#pydantic>=2.11.3
#pandas>=2.2.3
#starlette>=0.46.1
#numpy<2.2.0
#psycopg2-binary>=2.9.10
tensorflow>=2.19.0
#torch>=2.6.0
#python-multipart>=0.0.20
#typing-extensions>=4.13.2


python-dotenv>=1.1.0
psutil>=7.0.0
fastapi>=0.115.12
sqlalchemy>=2.0.40
matplotlib>=3.10.1
uvicorn>=0.34.0
mysql-connector-python>=9.2.0
gymnasium>=1.1.1
stable-baselines3==2.6.0